@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


:root {
    --cor01: hsl(31, 77%, 52%);
    --cor02: hsl(184, 100%, 22%);
    --cor03: hsl(179, 100%, 13%);
    --cor04: hsla(0, 0%, 100%, 0.75);
    --cor05: hsl(0, 0%, 95%);

    --fonte1: 'Big Shoulders Display', cursive;
    --fonte2: 'Lexend Deca', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

html, body {
    height: 100%;
}

body {
    font-size: 15px;
}

.maincontainer-pos {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-container {
    color: white;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}

.box {
    height: 440px;
    padding: 40px;
}

.box1 {
    background: var(--cor01);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box2 {
    background-color: var(--cor02);
}

.box3 {
    background-color: var(--cor03);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titlebox {
    margin: 25px 0px;
    font-family: var(--fonte1);
    font-size: 2.5em;
}

.textbox {
    font-family: var(--fonte2);
    font-size: 15px;
    line-height: 24px;
    margin-top: 50px;
}

.button {
    padding: 0.8em 1.8em;    
    border: none;
    font-size: 15px;
    border-radius: 50px;
    margin-top: 7em;
    cursor: pointer;
    font-family: var(--fonte2);
    font-size: 15px;
}

.button1 {
    color: var(--cor01);    
}

.button2 {
    color: var(--cor02);
}

.button3 {
    color: var(--cor03);
}

.button1:hover {
    color: white;
    background-color: var(--cor01);
    transition: all 0.2s;
    border: 1px solid white;
}

.button2:hover {
    color: white;
    background-color: var(--cor02);
    transition: all 0.2s;
    border: 1px solid white;

}

.button3:hover {
    color: white;
    background-color: var(--cor03);
    transition: all 0.2s;
    border: 1px solid white;
}
